.input {
  width: 300px;
  margin: 30px 0 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  background: #232324;
  outline: 0;
}

.part {
  display: inline;
  font-size: 18px !important;
}

.btn {
  margin: 0;
  background: #ffbe49;
  padding: 10px;
  cursor: pointer;
}

#type {
  margin-top: 30px;
}

@media only screen and (max-width: 414px) {
  .part {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 200px;
  }
  
  .btn {
    margin-top: 10px; 
  }
}
